@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
}


.container {
  display: flex;
  flex-direction: column;

}

.title, .secondtitle {
  color: hsl(183, 100%, 15%);
}

.tipcontainer {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
}

.billcontainer > label {
  color: hsl(186, 14%, 43%);
}

.billcontainer, .totalcontainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.billInput {
  background: url('../images/icon-dollar.svg') no-repeat 1rem 0.8rem;
}


.peopleInput {
  background: url('../images/icon-person.svg') no-repeat 1rem 0.8rem;
}

.totalcontainer {
  background-color: hsl(183, 100%, 15%);
  border-radius: 1rem;
  margin: 1rem;
}

.graylabel {
  color: hsl(184, 14%, 56%);
  font-size: 0.8rem;
}

.whitelabel {
  color: white;
}

.tiprow {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightlabel {
  color: hsl(172, 67%, 45%);
  font-size: 2rem;
}

.resetButton {
  background-color: hsl(172, 67%, 45%);
  border-style: solid;
  border-color:hsl(172, 67%, 45%);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: 'Space Mono', monospace;
  color:hsl(183, 100%, 15%);
  cursor: pointer;
}

.resetButton:hover {
  background-color:hsl(185, 41%, 84%);
  border-color: hsl(185, 41%, 84%)
}

.billlabel {
  margin-bottom: 0.5rem;
}

.tipgroup {
  display: grid;
  grid-template-columns: 10rem 10rem;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  font-family: 'Space Mono', monospace;
}



.tipgroup > button {
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border-color: hsl(183, 100%, 15%);
  border-style: solid;
  padding: 0.5rem;

}

.tipgroup > button:hover {
  cursor: pointer;
  background-color: hsl(185, 41%, 84%);
  border-color: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

.peoplelabel {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.activebutton {
  background-color:hsl(172, 67%, 45%) !important;
  border-color:hsl(172, 67%, 45%) !important;
}

@media (min-width: 900px) {
  .tipcontainer {
    flex-direction: row;
    padding: 1rem;
  }

  .totalcontainer {
    min-width: 23rem;
    padding: 2rem;
  }

  .selectLabel {
    margin-top: 2rem;
  }

  .resetButton {
    margin-top: 10rem;
  }

  .peoplelabel {
    margin-top: 2rem;
  }

  .billInput {
    min-width: 25rem;
  }

  .peopleInput {
    min-width: 25rem;
  }

  .tipgroup {
    grid-template-columns: 8rem 8rem 8rem;
  }


}
